:root {
    --white: #f0f8ff;
    --black: #000000;
    --dark: #191c24;
    --soft-pink: #FFCCCC;
    --light-blue: #AEEEEE;
    --lavender: #E6E6FA;
    --light-yellow: #FFFFCC;
    --pale-green: #CCFFCC;
}

body {
    background-color: var(--black);
}

a {
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.admin-nav {
    background-color: var(--dark);
}

/* Start Left Menu */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.wrapper > #content {
    overflow: auto;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: var(--dark);
    color: var(--white);
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: var(--white);
}

#sidebar ul li a i {
    background-color: #2a2d3a;
    padding: 10px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-align: center;
}

#sidebar .fa-desktop {
    color: #8e64e4;
}

#sidebar .fa-users {
    color: #ffab00;
}

#sidebar .fa-layer-group {
    color: #fc424a;
}

#sidebar .fa-shirt {
    color: #8e44ad;
}

#sidebar .fa-cart-shopping {
    color: #16a085;
}

#sidebar .fa-barcode {
    color: #e67e22;
}

#sidebar .fa-clipboard-question {
    color: #0052d2;
}

#sidebar ul li.active > a,
#sidebar ul li a:hover {
    color: #6c7392;
    background-color: #0f1015;
    margin-right: 25px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: calc(100vh - 81px);
    transition: all 0.3s;
}

.card {
    background-color: var(--dark);
    color: #6c7392;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 15px;
}

.card .btn {
    background: rgba(0, 210, 91, 0.11);
    border-radius: 7px;
    color: #00d25b;
}

#imagePreview {
    cursor: pointer !important;
}

.ck-editor__editable {
    min-height: 200px;
    background-color: #212529 !important;
    color: var(--white);
}

.ck-powered-by {
    display: none;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

/* End Left Menu */

/* Start product search */
.dataTables_wrapper {
    color: #fff;
}
.dataTables_wrapper .dataTables_filter input {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}
.dataTables_wrapper .dataTables_length select,
.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #444;
}
.dataTables_wrapper .dataTables_info {
    color: #bbb;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #444;
}

.table-dark {
    background-color: #222;
    border-color: #444;
}

#products-table_wrapper .dataTables_length {
    margin-bottom: 6px;
}

#products-table_wrapper:first-child .col-sm-12 {
    padding: 0;
}

.page-link {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

.page-link:hover {
    background-color: #444;
    color: #fff;
}

.page-item.active .page-link {
    background-color: #444;
    border-color: #666;
}

.page-link:focus {
    box-shadow: none;
}

.page-item.disabled .page-link {
    background-color: #222;
    border-color: #444;
    color: #777;
}

#products-table_paginate {
    margin-bottom: 15px;
}

#products-table_previous {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

#products-table_next {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

/* End product search */
