.disabled-link {
    pointer-events: none;
    opacity: 0.6;
    cursor: not-allowed;
}

.map-container {
    width: 100%;
    height: 400px;
}

.notification_text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4em;
    max-height: 2.8em;
}

.notification-unread {
    color: var(--red);
}
