* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

main {
    padding-top: 71px;
}

.title {
    text-align: center;
    margin-bottom: 50px;
}

#banner,
#categories {
    margin-bottom: 50px;
}

/* Start Nav Bar */
.navbar {
    font-size: 18px;
}

.dropdown-menu-images {
    width: max-content;
    min-width: unset;
    padding: 5px;
}

.dropdown-menu-images .dropdown-item {
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.dropdown-menu-images .dropdown-item img {
    display: block;
}

/* End Nav Bar */

/* Start Banner */
.banner {
    background-image: linear-gradient(-225deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(0, 36, 61, 0.6) 50%),
    url('https://img.freepik.com/premium-photo/baby-shower-background-with-celebration-party-real_762118-3606.jpg');
    color: white;
    text-align: center;
    height: calc(100vh - 71px);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.6);
}

.banner p {
    font-size: 25px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    opacity: 0.8;
    margin-bottom: 50px;
}

/* End Banner */


/* Start Category */
#categories img {
    width: 55px;
    margin-right: 15px;
}

#categories .item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--dark);
    border-radius: 10px;
    width: 150px;
    padding: 5px;
    margin: auto;
}

#categories p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* End Category */
