:root {
    --white: #f0f8ff;
    --black: #000000;
    --dark: #191c24;
    --soft-pink: #FFCCCC;
    --light-blue: #AEEEEE;
    --lavender: #E6E6FA;
    --light-yellow: #FFFFCC;
    --pale-green: #CCFFCC;
}
